html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container-fluid {
  padding: 0 !important;
}
/* 
nav {
  padding: 1em 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
}
 */
